.suggests-container {
    position: absolute;
    color: var(--text-contrast-color);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #6f6f6f;
}

.suggest {
    padding: 3px 5px;
    cursor: pointer;
    font-size: 16px;
}

.suggest:hover {
    background: #6fb861;
}
