button {
    border-radius: 5px;
    background: white;
    color: var(--text-color);
    border: none;
    padding: 8px 15px;
    margin: 0 5px;
    box-shadow: inset 0 0 0 1px var(--text-color);
    outline: none;
    cursor: pointer;
    opacity: 0.85;
}

button:hover, button:hover {
    opacity: 1;
    box-shadow: inset 0 0 0 2px var(--accent-color);
}

input {
    border: none;
    outline: none;
    padding: 8px;
}

input:hover { box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
input:focus { box-shadow: inset 0 0 0 2px #18A0FB; }
  