.edit-result {
    width: 100%;
}

.edit-result__text {
    overflow: auto;
    width: 100%;
    height: 6em;
    text-align: start;
    outline: none;
    border: solid 1px;
    border-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1em;
    font-family: sans-serif;
    white-space: pre-wrap;
    margin: 0;
}

.edit-result__buttons-bar {
    text-align: center;
    margin: 10px;
}

.edit-result__container {
    display: flex;
}

.edit-result__next-btn {
    width: 40px;
    padding: 0;
    opacity: 0.3;
    color: var(--text-color);
}

.edit-result__next-btn:hover {
    opacity: 0.5;
}

.edit-result__next-btn[disabled] {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: default;
}

.edit-result__next-btn:hover[disabled] {
    border: 1px solid var(--secondary-color);
    opacity: 0.3;
}
