.edit-result__text {
    text-align: start;
    outline: none;
    height: 6em;
    border: solid 1px;
    border-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1em;
    font-family: sans-serif;
    white-space: pre-wrap;
    margin: 0;
}

.edit-result__buttons-bar {
    text-align: center;
    margin: 10px;
}
