.app__root {
    --bg-color: #fff;
    --text-color: #000;
    --text-contrast-color: var(--bg-color);
    --secondary-color: #bbb;
    --accent-color: rgb(228, 0, 255);
    --accent-color-transparent: rgba(228, 0, 255, 0.1);

    --gap-m: 16px;
    --gap-s: 12px;

    --text-size-s: 14px;
    --text-size-m: 16px;

    font: var(--text-size-m) sans-serif;
    font-family: sans-serif;
    color: var(--text-color);
    margin: 0;
}

.app__start-btn {
    margin: var(--gap-m) auto;
}

.app__startup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.app__loading {
    animation: rotating 1s linear infinite;
    cursor: default;
    user-select: none;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    position: relative;
    border-radius: 5px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    padding: 8px 15px;
    margin: 0 5px;
    border: 1px solid var(--text-color);
    outline: none;
    cursor: pointer;
    opacity: 0.8;
}

button:hover:not([disabled]) {
    background: var(--accent-color-transparent);
    opacity: 1;
}

button:focus {
    border: 1px solid var(--accent-color);
}

button.click-me {
    border: 1px solid var(--accent-color);
    box-shadow: 0 0 5px 1px var(--accent-color);
}

input {
    border: none;
    outline: none;
    padding: 8px;
}

input:hover { box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
input:focus { box-shadow: inset 0 0 0 2px #18A0FB; }
  
